
<!DOCTYPE html>
{%load static %}
<html>
<head>
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/..........>#}
{#<link rel="stylesheet" href="{% static "css/style.css"%}">#}
    <style>
    .container
{
margin-top:100px;
}
body
{
    background-image: url("{% static "img/bg.jpg" %}");
background-repeat:no-repeat;
background-size:cover;
    background-color: blue;
}
</style>
</head>
<body>
<div class="container" align='center'>
<h1>Add Movie Information</h1><hr>
<form  method="post">
{{form.as_p}}
{% csrf_token %}
<input type="submit" class='btn btn-primary' value="Add Movie">
</form>
</div>
</body>
</html>